@import url("https://fonts.googleapis.com/css2?family=Quicksand&display=swap");
* {
  padding: 0;
  margin: 0;
  transition: 0.3s;
  text-decoration: none;
  box-sizing: border-box;
  font-family: "Quicksand", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  background: linear-gradient(to top, rgba(20, 20, 20, 0.6), rgb(20, 20, 20)), url(https://i0.wp.com/data.whicdn.com/images/338918955/original.gif?w=1080&ssl=1);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.navigation {
  position: relative;
}
.navigation .brand {
  display: flex;
  justify-content: center;
  text-align: center;
  padding: 20px;
}
.navigation .brand a {
  color: deepskyblue;
  font-size: 40px;
  font-weight: bold;
}
.navigation .links {
  display: flex;
  justify-content: center;
  text-align: center;
  gap: 20px;
}
.navigation .links a {
  color: azure;
  font-size: 18px;
  border-bottom: 2px solid transparent;
  padding: 2px 2px;
}
.navigation .links a:hover {
  border-bottom: 2px solid deepskyblue;
}

.anime-container {
  position: relative;
}
.anime-container .container-title {
  display: flex;
  justify-content: flex-start;
  text-align: center;
  padding-top: 40px;
  padding-left: 20px;
}
.anime-container .container-title h2 {
  color: deepskyblue;
}
.anime-container .container-subtitle {
  display: flex;
  justify-content: flex-start;
  text-align: center;
  padding-left: 20px;
}
.anime-container .container-subtitle span {
  color: gray;
}
.anime-container .container-view-more {
  display: flex;
  justify-content: flex-end;
  text-align: center;
  padding-right: 40px;
}
.anime-container .container-view-more a {
  color: azure;
}
.anime-container .container-view-more a:hover {
  color: deepskyblue;
}
.anime-container .container-airing-cards {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  text-align: center;
  padding: 20px;
}
.anime-container .container-airing-cards .anime-card {
  margin: 10px;
}
.anime-container .container-airing-cards .anime-card .banner {
  width: 160px;
  height: 240px;
}
.anime-container .container-airing-cards .anime-card .banner img {
  width: 100%;
  height: 100%;
  border-radius: 20px;
}
.anime-container .container-airing-cards .anime-card .title {
  background-color: rgba(0, 191, 255, 0.315);
  color: azure;
  width: 160px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  border-radius: 20px;
  padding: 10px 20px;
  margin-top: 10px;
}
.anime-container .container-airing-cards .anime-card .title a {
  color: azure;
  font-size: 16px;
}
.anime-container .container-popular-cards {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  text-align: center;
  padding: 20px;
}
.anime-container .container-popular-cards .anime-card {
  margin: 10px;
}
.anime-container .container-popular-cards .anime-card .banner {
  width: 160px;
  height: 240px;
}
.anime-container .container-popular-cards .anime-card .banner img {
  width: 100%;
  height: 100%;
  border-radius: 20px;
}
.anime-container .container-popular-cards .anime-card .title {
  background-color: rgba(0, 191, 255, 0.315);
  color: azure;
  width: 160px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  border-radius: 20px;
  padding: 10px 20px;
  margin-top: 10px;
}
.anime-container .container-popular-cards .anime-card .title a {
  color: azure;
  font-size: 16px;
}
.anime-container .container-upcoming-cards {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  text-align: center;
  padding: 20px;
}
.anime-container .container-upcoming-cards .anime-card {
  margin: 10px;
}
.anime-container .container-upcoming-cards .anime-card .banner {
  width: 160px;
  height: 240px;
}
.anime-container .container-upcoming-cards .anime-card .banner img {
  width: 100%;
  height: 100%;
  border-radius: 20px;
}
.anime-container .container-upcoming-cards .anime-card .title {
  background-color: rgba(0, 191, 255, 0.315);
  color: azure;
  width: 160px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  border-radius: 20px;
  padding: 10px 20px;
  margin-top: 10px;
}
.anime-container .container-upcoming-cards .anime-card .title a {
  color: azure;
  font-size: 16px;
}
.anime-container .container-monday-anime-cards {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  text-align: center;
  padding: 20px;
}
.anime-container .container-monday-anime-cards .anime-card {
  margin: 10px;
}
.anime-container .container-monday-anime-cards .anime-card .banner {
  width: 160px;
  height: 240px;
}
.anime-container .container-monday-anime-cards .anime-card .banner img {
  width: 100%;
  height: 100%;
  border-radius: 20px;
}
.anime-container .container-monday-anime-cards .anime-card .title {
  background-color: rgba(0, 191, 255, 0.315);
  color: azure;
  width: 160px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  border-radius: 20px;
  padding: 10px 20px;
  margin-top: 10px;
}
.anime-container .container-monday-anime-cards .anime-card .title a {
  color: azure;
  font-size: 16px;
}
.anime-container .container-tuesday-anime-cards {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  text-align: center;
  padding: 20px;
}
.anime-container .container-tuesday-anime-cards .anime-card {
  margin: 10px;
}
.anime-container .container-tuesday-anime-cards .anime-card .banner {
  width: 160px;
  height: 240px;
}
.anime-container .container-tuesday-anime-cards .anime-card .banner img {
  width: 100%;
  height: 100%;
  border-radius: 20px;
}
.anime-container .container-tuesday-anime-cards .anime-card .title {
  background-color: rgba(0, 191, 255, 0.315);
  color: azure;
  width: 160px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  border-radius: 20px;
  padding: 10px 20px;
  margin-top: 10px;
}
.anime-container .container-tuesday-anime-cards .anime-card .title a {
  color: azure;
  font-size: 16px;
}
.anime-container .container-wednesday-anime-cards {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  text-align: center;
  padding: 20px;
}
.anime-container .container-wednesday-anime-cards .anime-card {
  margin: 10px;
}
.anime-container .container-wednesday-anime-cards .anime-card .banner {
  width: 160px;
  height: 240px;
}
.anime-container .container-wednesday-anime-cards .anime-card .banner img {
  width: 100%;
  height: 100%;
  border-radius: 20px;
}
.anime-container .container-wednesday-anime-cards .anime-card .title {
  background-color: rgba(0, 191, 255, 0.315);
  color: azure;
  width: 160px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  border-radius: 20px;
  padding: 10px 20px;
  margin-top: 10px;
}
.anime-container .container-wednesday-anime-cards .anime-card .title a {
  color: azure;
  font-size: 16px;
}
.anime-container .container-thursday-anime-cards {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  text-align: center;
  padding: 20px;
}
.anime-container .container-thursday-anime-cards .anime-card {
  margin: 10px;
}
.anime-container .container-thursday-anime-cards .anime-card .banner {
  width: 160px;
  height: 240px;
}
.anime-container .container-thursday-anime-cards .anime-card .banner img {
  width: 100%;
  height: 100%;
  border-radius: 20px;
}
.anime-container .container-thursday-anime-cards .anime-card .title {
  background-color: rgba(0, 191, 255, 0.315);
  color: azure;
  width: 160px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  border-radius: 20px;
  padding: 10px 20px;
  margin-top: 10px;
}
.anime-container .container-thursday-anime-cards .anime-card .title a {
  color: azure;
  font-size: 16px;
}
.anime-container .container-friday-anime-cards {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  text-align: center;
  padding: 20px;
}
.anime-container .container-friday-anime-cards .anime-card {
  margin: 10px;
}
.anime-container .container-friday-anime-cards .anime-card .banner {
  width: 160px;
  height: 240px;
}
.anime-container .container-friday-anime-cards .anime-card .banner img {
  width: 100%;
  height: 100%;
  border-radius: 20px;
}
.anime-container .container-friday-anime-cards .anime-card .title {
  background-color: rgba(0, 191, 255, 0.315);
  color: azure;
  width: 160px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  border-radius: 20px;
  padding: 10px 20px;
  margin-top: 10px;
}
.anime-container .container-friday-anime-cards .anime-card .title a {
  color: azure;
  font-size: 16px;
}
.anime-container .container-saturday-anime-cards {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  text-align: center;
  padding: 20px;
}
.anime-container .container-saturday-anime-cards .anime-card {
  margin: 10px;
}
.anime-container .container-saturday-anime-cards .anime-card .banner {
  width: 160px;
  height: 240px;
}
.anime-container .container-saturday-anime-cards .anime-card .banner img {
  width: 100%;
  height: 100%;
  border-radius: 20px;
}
.anime-container .container-saturday-anime-cards .anime-card .title {
  background-color: rgba(0, 191, 255, 0.315);
  color: azure;
  width: 160px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  border-radius: 20px;
  padding: 10px 20px;
  margin-top: 10px;
}
.anime-container .container-saturday-anime-cards .anime-card .title a {
  color: azure;
  font-size: 16px;
}
.anime-container .container-sunday-anime-cards {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  text-align: center;
  padding: 20px;
}
.anime-container .container-sunday-anime-cards .anime-card {
  margin: 10px;
}
.anime-container .container-sunday-anime-cards .anime-card .banner {
  width: 160px;
  height: 240px;
}
.anime-container .container-sunday-anime-cards .anime-card .banner img {
  width: 100%;
  height: 100%;
  border-radius: 20px;
}
.anime-container .container-sunday-anime-cards .anime-card .title {
  background-color: rgba(0, 191, 255, 0.315);
  color: azure;
  width: 160px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  border-radius: 20px;
  padding: 10px 20px;
  margin-top: 10px;
}
.anime-container .container-sunday-anime-cards .anime-card .title a {
  color: azure;
  font-size: 16px;
}

.content-container {
  position: relative;
  padding-top: 20px;
  padding-bottom: 80px;
}
.content-container .content-title {
  display: flex;
  justify-content: center;
  text-align: center;
  padding-top: 80px;
}
.content-container .content-title h1 {
  color: azure;
  font-size: 40px;
}
.content-container .content-subtitle {
  display: flex;
  justify-content: center;
  text-align: center;
}
.content-container .content-subtitle p {
  color: azure;
  font-size: 20px;
}
.content-container .content-intro {
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  padding-top: 20px;
  padding-left: 20px;
  padding-right: 20px;
}
.content-container .content-intro p {
  color: azure;
  font-size: 20px;
}

.copyright {
  position: relative;
  display: flex;
  justify-content: center;
  text-align: center;
  padding-top: 60px;
  padding-bottom: 20px;
}
.copyright p {
  color: azure;
}
.copyright a {
  color: azure;
}
.copyright a:hover {
  color: deepskyblue;
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: rgba(20, 20, 20, 0.6);
}

::-webkit-scrollbar-thumb {
  background: rgba(0, 191, 255, 0.315);
}

::-webkit-scrollbar-thumb:hover {
  background: deepskyblue;
}